@font-face {
font-family: 'Gagalin-Regular';

 src: url(fonts/Gagalin-Regular.ttf) ;
 }
@font-face {
font-family: 'Ubuntu';
 src: url(fonts/Ubuntu-Regular.ttf) ;

}
@font-face {
  font-family: 'Lifehack';
 src: url(fonts/Lifehack.otf) ;
}

$headings: 'Patua One', cursive;
$white: #fff;
$grey-black: #222;
$olive: #364e41;
$tablets: 768px;
$phones: 480px;

@mixin tablets {
  @media (max-width: $tablets )
  {
   @content;
  } 
  }
  @mixin phones {
  @media (max-width: $phones )
  {
   @content;
  }
}
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.nav {
position: fixed;
    left: 80%;
    top: 6%;
  &__list {
  text-decoration: none;
  }
  &__item {
   list-style: none;
  color:white;
  }

  @include tablets {
  display:none;
  }
}


.section {
&-top {
    width: 100%;
 height: 100vh;
 min-height: 650px;
   background-size: cover;
  background-image: url(fons/fon-top.png);
    background-repeat: no-repeat;
    background-position: center;

         @include tablets {    
       width: auto;
           
       }

    &__container {
      flex-direction: column;
      width: 1100px;
    margin: 0 auto;
  height: 100%;
   display: flex; 
    justify-content: flex-start;
    align-items: center;

    @include tablets {
        text-align: center;
       flex-direction: column;
       width: auto;
       }
 
    }
          @include tablets { 
        text-align: center;
       flex-direction: column;
       padding: 0 ;
       
      }
}
&-team {
   width: 100%;
 height: 100vh;
 min-height: 650px;
  background-size: cover;
  background-image: url(fons/fon-team.png);
  background-repeat: no-repeat;
  background-position: center;
  &__container {
   float: right;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(70, 70, 70, 0.9);

   @include tablets {
  width: 100%; 
      text-align: center;
}

  }
   @include tablets {
  width: auto;  
}

}
&-best {
   width: 100%;
 height: 100vh;
 min-height: 320px;
  background-size: cover;
  background-image: url(fons/fon-best.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
      align-items: center;
      &__container {
      flex-direction: column;
      width: 940px;
    margin: 0 auto;
  
   display: flex; 
    justify-content: flex-start;
    align-items: center;
      }
      &__title {
       
  
 font-size: 3.52rem;
  font-family: "Gagalin-Regular";
  color: rgb(47, 50, 52);
  line-height: 0.889;
  text-align: center; @include phones {     font-size: 2.25rem;}
      }

}
&-burger {
    width: 100%;
 height: 100vh;
 min-height: 320px;
  background-size: cover;
  background-image: url(fons/fon-burger.png);
  background-repeat: no-repeat;
  background-position: center;

  &__container {
    margin: 0 auto;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 1100px;
}
 
}
&-menu {
 width: 100%;
 height: 100vh;
 min-height: 320px;
  background-size: cover;
  background-image: url(fons/fon-menu.png);
  background-repeat: no-repeat;
  background-position: center;
  &__title { 
       margin: 0;
    
        font-size: 4.5rem;
    font-weight: 400;
        position: relative;
    top: 1.8rem;
    left: 2rem;
    font-family: Gagalin-Regular;
    color: white;
        height: 0; @include phones {    font-size: 2.5rem;  left: 1rem;  }
   
  }
}
&-order {
    width: 100%;
 height: 100vh;
 min-height: 320px;
  background-size: cover;
  background-image: url(fons/fon-order.png);
  background-repeat: no-repeat;
  background-position: center; @include tablets {     background-size: unset;  }
  &__container {
    margin: 0 auto;;
    display: flex;  
    flex-direction: column;  
    justify-content: center;
    height: 100%;
    max-width: 940px;
  }
}
&-map {
     width: 100%;
 height: 100vh;
 min-height: 320px;
  background-size: cover;
  background-image: url(fons/fon-map.png);
  background-repeat: no-repeat;
  background-position: center;
}
&-video {
      width: 100%;
 height: 100vh;
 min-height: 320px;
  background-size: cover;
  background-image: url(fons/fon-video.png);
  background-repeat: no-repeat;
  background-position: center;
}
}

.header {
padding-top: 25px;
width: 100%;
margin: 0 auto;
  display: flex;

}
.logo {
z-index: 99;
 padding-right: 50px;
  }
.menu {
  display: flex;
   @include tablets {
  width: 100%;
  }
&__list {

  display: flex;
  text-decoration: none;
  list-style: none;
    @include tablets {
  display:none;
  }
}
&__item {
  margin-left: 20px;
}
&__link {
  text-decoration: none;
 
}
&__text {
    font-size: 12px;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: right;

}
&__dot {
  padding-right: 10px;
}
}
.button {
  
 
 &__item {
     padding: 10px 15px;
    border-radius: 7px;
    background: #e35028;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 300;
    line-height: 42px;
    text-transform: uppercase;
    margin-right: 4rem;
    color: white;
    font-family: "Ubuntu";
    text-decoration: none;
 }
&__reviews {
   width: 100%;
 height: 100vh;
 min-height: 650px;
}

}
.banner {
    
    display: flex;    
    justify-content: center;   
    align-items: center;   
    flex-grow: 1;

    @include tablets {
       
    flex-direction: column;

    }
}
.banner-left {
  @include tablets {
       width: 100%;
   }
    &__pic {
   @include tablets {
           margin-top: 0;
    width: 60%; 
   }
    } 
}
.banner-right {
     padding-left: 60px;

        @include tablets {       
     text-align: center;
     padding: 0;
     }

&__main  {
float: left;
  font-size: 72px;
  font-family: "Gagalin-Regular";
  color: rgb(249, 180, 59);
 
  text-align: left;
    @include tablets {
    font-size: 50px;
     float: none;
    text-align: center;
    align-items: center;
   }
 

}
&__text {
font-size: 62px;
  text-align: left;
color: white;
    line-height: 60px;
   font-family: "Lifehack";

   @include tablets {
     font-size: 44px;
   display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   }
}
}

.arrow {
  &__link{
             display: block;
    width: 30px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
         
    margin-bottom: 40px; 

  }
  @include tablets {
      padding-top: 50px;
  }
}






.best {     
    
     &__desc {
         vertical-align: middle;
 text-align: center;
    }
  &__list { 
  padding: 0;
       vertical-align: middle;
  list-style: none;
        display: flex;
    justify-content: center;
    align-items: flex-start; @include phones { display: block;}
  }
   &__item {  
   padding: 0;
      vertical-align: middle;
   width: 33%;
     text-align: center;
    margin: 0 10px;   @include phones {    width: 100%; }
    &__list {
    list-style: none;
    }
   
    
  }
  &__main { 
   margin-bottom: 10px;
  font-size: 24px;
  font-family: "Lifehack";
  color: rgb(47, 50, 52);
  line-height: 1.167;
  text-align: center; @include phones {      margin-bottom: 0.625rem;      line-height: 0.250;
    font-size: 1.2rem;}
  }
  &__text { 
    font-family: Ubuntu;
    font-weight: 300;
    color: #2f3234;
    font-size: 0.875rem;
        line-height: 1.5rem;
    opacity: .8; @include phones {     font-size: 0.625rem;  line-height: 0.250;
    line-height: 1.5rem; }
 
  }
 &__picture {
         height: 100px;
    background-repeat: no-repeat;
    background-position: center;
   
    margin: 0 auto; 
    @include phones {    
        height: 2.55rem;
    background-size: cover;
    width: 2.85rem;}
    }

}

.team {
&__desc {
   display: none;
   @include tablets {
 
  flex-direction: column;
  }
}

&__post { 
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  font-weight: bold;
}
&__text { 
    width: auto;
    font-size: 14px;
    font-family: "Ubuntu";
    color: white;
    

}
&__photo {
         margin-right: 20px;
    width: 100px;
    height: 100px;  
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-left: 20px; 
    display: flex;   
    justify-content: center;   
    align-items: center;

   @include tablets {
       margin: 0 auto;
       float: none;
  }

 }
  &__title {
            
     margin-left: 7.5rem;

      font-family: Gagalin-Regular;
    color: #f9b43b;
        font-size: 4.5rem;
       @include tablets {
      margin-left: 0.75rem;
    float: none;
  }

  }
  &__list {
  list-style: none;
  }
  &__item {
      margin-bottom:  1.25rem;
  }
  &__mate {
        text-decoration: none;
    display: inline-block;
    font-family: Gagalin-Regular;
    color: white;
    font-size: 16px;
    margin-bottom: 0.625rem;
    &-activated {
      text-decoration: none;
    display: inline-block;
    font-family: Gagalin-Regular;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    color: #f9b43b;    
    }
    &-activated::before {
    content: "";
    display: inline-block;
   
    margin-right: 10px;
    border: 6px solid transparent;
    border-bottom-color: #fff;
   
    border-top-color: #f9b43b;
    border-width: 10px 6px 0px 6px;
    }
}
&__mate::before {
    content: "";
    display: inline-block;
   
    margin-right: 10px;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    border-width: 0px 6px 10px 6px;
}

}



.reviews {

 &__desc {
 transition: 1s;

  position: absolute;
  left: 10px;
  top: -3px;
  padding: 50px 20px 0;
  opacity: 0;
  @include tablets {
      
  } @include tablets {     margin-top: 3rem; text-align: center; } 
   @include phones { margin-top: 8rem;     }
 }
 &__title {
     font-size: 0.875rem;
     font-family: Gagalin-Regular;
    color: white;
    margin-bottom: 20px; @include phones {     text-align: center;
    font-size: 1.275rem; }
 }
 &__text {
         font-size: 0.875rem;
font-family: "Ubuntu";
color: rgb(255, 255, 255);
    font-weight: normal;
   line-height: 1.2rem;
    margin-bottom: 1.25rem;  @include phones { display:none };
  }
 &__button {
 border:none;
     margin-top: 1.5625rem;
 display: flex;
    text-align: center;
   background-color: rgb(47, 50, 52);
        padding: 0.625rem;
    padding-right:  0.9375rem;
    border-radius: 5px;
    font-family: Ubuntu;
    font-weight: normal;
    color: white;
    font-size: 0.756rem;
    
    text-align: center;
    @include tablets {     margin: 0 auto;}
 }
  &__list {
  list-style: none;
  padding: 0;
  margin: 0;
      height: 100%;  
    display: flex; 
    justify-content: center;   
    align-items: center;   
    flex-wrap: wrap;
   
  }
  &__item {
    float: left;
  position: relative;
  width: 25%;
  height: 50%;
  justify-content: center;
  align-items: center;
   background-color: #000;
   @include tablets {
   width: 50%;
   }
  }
&__pic {
    height: 50vh;
    max-width: auto;
    max-height: auto;
    
}
.reviews__item:hover .reviews__desc{
   opacity: 1;
}

}
.picture {
  filter: grayscale(100%);
 object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews .reviews__item:hover img{
  filter: grayscale(1) opacity(0.4) ;

 }

.menu-drop {
  &__button {
  border:none; background: transparent; width:100%; height: 100%;
  }
}


.order {
display: flex; 
  &__main {
  font-size: 4.5rem;
  font-family: "Gagalin-Regular";
  color: rgb(249, 180, 59);
  line-height: 0.889;
  text-align: center;  @include tablets {     font-size: 2.75rem; } @include phones {    font-size: 1.2rem; }

  }
    &__title {
        text-align: left;
      font-family: "Ubuntu";
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: white;
  }
  &__form {
         
   width: 29.6875rem;
   &-block {
       margin-left: 1.25rem;
   }
  }
  &__block {
  margin-bottom: 0.9375rem;
  }
  &__contacts {
  display:flex;
  }
&__input {
       border: initial;
    padding: 0.3125rem 1.25rem;
    border-radius: 0.3125rem;
    background: white;
    height: 1.5625rem;
    width: 11.25rem; @include phones {     width: 5.95rem; }
    &-street  { width: 26.25rem;      margin: inherit;  @include phones { width: 15.75rem; }}
    &-home {     width: 3.75rem; height: 1.5625rem;  @include tablets {  width: 3.70rem;} @include phones {  width: 1.043rem; }
    }
}
&__adress { display: flex; }
&-comments {
      margin-left: 1.25rem;
      &__input{
    border: initial;
    padding: 0.3125rem 1.25rem;
    border-radius: 0.3125rem;
    background: white;
    width: 28.75rem;
    height: 6.875rem; @include tablets {   width: 25.75rem;} @include phones {   width: 15.75rem;  height: 5.875rem; } 
      }
}
&-pay {
  display: flex;
  margin-top: 20px;
  &__button { 
    padding: 3px 16px;
    border-radius: 7px;
    background: #e35028;
    color: white;
    border: none;
    font-family: 'Ubuntu';
        font-size: 0.625rem;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase
    }
    &__clean {
        color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    background-color: transparent;
    border: none;
    }
    &__label {
        margin-left: 0.5rem;

    }
}
  @include tablets {
  display: block;
  margin: auto;
  }
}

.order__title-pay { color: white; }

.map {
&__footer { 
     position: absolute;
    bottom: 0;    
    width: 100%;
    height: 3.75rem;
     background: black;
    display: flex;
}
&__container {
    width: 91%;
    margin: 0 auto;
display:flex;
  
}
&__info {       
      width: 50%;
}
&__adress {

      color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 0.875rem;
        margin-bottom: 2px;
    margin-top: 5px;
}
&__call {
      color: #e45028;
    font-family: 'Ubuntu';
    font-weight: 700;
    text-decoration: none;
}
}
.social {
  width: 50%;
 &__list {
   float:right;
 display: flex;
 list-style: none;
 }
 &__item {

 margin-left :1.25rem;
 }
}
.icon-vk {     width: 1.25rem;
    height: 1.875rem;
    }
.icon-fb{      width: 1.25rem;
    height: 1.875rem;
   }
.icon-tw {      width: 1.25rem;
    height: 1.875rem;
  }
.icon-inst {     width: 1.25rem;
    height: 1.875rem;
     }


.menu-drop {
  &__list { display: flex;      position: relative; margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    }
  &__item {      cursor: pointer;
         height: 100vh;
        width: 4.5625rem;
    background-color: rgba(20, 20, 20, 0.7);
    list-style: none;
    text-decoration: none;
    position: relative; @include phones {     width: 18%; }
  }
&__text {        position: absolute;
    transform: rotate(180deg) translateX(50%);
    white-space: nowrap;
    color: white;
    font-size: 2.5rem;
    font-family: 'Gagalin-Regular';
    writing-mode: vertical-lr;
    text-align: center;
    bottom: 50px;
    left: 50%;
 
}
&__content { display:none;     height: 100%;
    background: rgba(47, 50, 52, 0.93);
    width: 20rem;
    }
}

.slider {
    
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        position: relative;
        list-style: none;
    }
    }
    .slide {    @include phones {     margin-right: 2rem; }
    &__pic { @include phones {     margin: 0 auto;
    width: 280px; } }
        display: flex; @include tablets {     
    display: flex;    
    flex-direction: column;
    text-align: center; 
    }
        &__img {
            width: 60%;
    margin-top: 6.6875rem;   @include tablets {   width: 100%;}
        }
        &__title {
            color: #ffffff;
    font-family: 'Gagalin-Regular';
    font-size: 72px;
    font-weight: 400;
    line-height: 63.93px; @include phones { margin: 0 auto; font-size: 2rem; }
        }
        &__text {
            width: 441px;
    height: 86px;
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 23.97px; @include tablets {     text-align: center;
    margin: 0 auto; } @include phones {     font-size: 12px;     width: 16rem; }
        }
        &__number {
            color: #e35028;
    font-family: 'Gagalin-Regular';
    font-size: 72px;
    letter-spacing: -1.79px; @include tablets {     font-size: 2.5rem }  @include phones {font-size: 2rem;}
        }
        &__price {     
    display: flex; @include tablets {     margin-top: 2rem; } @include phones { margin-top: 4rem; }}  
        &__curent {
    color: #e35028;
    font-family: 'Gagalin-Regular';
    font-size: 30px;
    letter-spacing: -0.75px; @include tablets {     font-size: 2.5rem;
    margin-left: 1rem; } @include phones { margin-left: 0.4rem; font-size: 2rem;}
        } 
        &__order {
            display: flex; @include tablets { margin-left: 7rem; } @include phones {     margin-left: 0rem; }
        }
        &__button {
            padding-top: 40px;
    padding-left: 20px; @include phones {     padding-top: 2rem;
    padding-left: 1rem; }
          }  
          &__makeorder {
              border: none;
              padding: 3px 16px;
    border-radius: 0.4375rem;
    background: #e35028;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Ubuntu';
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase; @include phones {     margin-top: 2rem; }
          }     
           }
           .kkal__pic { @include tablets {     position: absolute;
    
       right: 2rem;
    top: 0; }}
.composition {
    position: absolute;
    top: 0;         @include phones {     left: -1rem; }
    }
    .slider__arrow {
    position: absolute;  
    display: flex;    
    justify-content: space-between;
    width: 100%;
    top: 50%;
    left: 0;

    border: transparent;
    cursor: pointer;
    background: transparent;
    outline: none;
    background-repeat: no-repeat
 
    

    }
   .slider__arrows-first {     max-width: 2rem;
    max-height: 2rem;     width: 2rem;
    height: 1rem;     transform: rotate(45deg);}
    .slider__arrows-second {
       height: 1rem;     transform: rotate(-45deg);      width: 2rem;
    height: 1rem;
    }
     .hamburger-menu-link {
     display:none;
      @include tablets { display:block;     position: absolute;
    width: 51px;
    height: 70px;
    right: 1px;
    top: 0px; 
         border: none;
  background: $grey-black; 
 z-index: 99;
}
}

.hamburger-menu-link__bars {
  display: block;
  position: absolute;
  width: 1.85rem;
  height: 0.5rem;
  background: $white;
 right: 0;
 margin-right : 0.75rem;
     border-radius: 5px;


}
.hamburger-menu-link__bars:nth-child(1) {
    top: 30px;
}
.hamburger-menu-link__bars:nth-child(2) {
    top: 42px;
}
.hamburger-menu-link__bars:nth-child(3) {
    top: 54px;
}
.overlay {
  
  display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2f3234;;
    justify-content: center;
    align-items: center;
    z-index: 50;
    &__container {
        position: relative;
    }
    &__list {
    padding-left : 0;
    display: flex;
   list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25rem;
    font-family: 'Ubuntu';
    font-weight: 300; }
    &__item {  
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

}
&__link {
      color: white;
    text-decoration: none;
}
}

 .activated {
   display: flex;
    @include tablets { flex-dircetion: column; }
  }

.video {
    
width: auto;
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   &__title {
       padding-top: 2rem;
   text-align: center;

        color: #2f3234;
      
        height: auto;
        font-size: 4.5rem;
        font-family: 'Gagalin-Regular';
   }
   &__player {
       margin: 0 auto; 
           padding-top: 1.2rem;
               width: 75%;
   }
}

.scroll-none {
  overflow: hidden;
}
