@font-face {
  font-family: 'Gagalin-Regular';
  src: url(fonts/Gagalin-Regular.ttf); }
@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/Ubuntu-Regular.ttf); }
@font-face {
  font-family: 'Lifehack';
  src: url(fonts/Lifehack.otf); }
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.nav {
  position: fixed;
  left: 80%;
  top: 6%; }
  .nav__list {
    text-decoration: none; }
  .nav__item {
    list-style: none;
    color: white; }
  @media (max-width: 768px) {
    .nav {
      display: none; } }

.section-top {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-size: cover;
  background-image: url(fons/fon-top.png);
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 768px) {
    .section-top {
      width: auto;
      height: auto; } }
  .section-top__container {
    flex-direction: column;
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    @media (max-width: 768px) {
      .section-top__container {
        text-align: center;
        flex-direction: column;
        width: auto; } }
  @media (max-width: 768px) {
    .section-top {
      text-align: center;
      flex-direction: column;
      padding: 0 16%; } }
.section-team {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-size: cover;
  background-image: url(fons/fon-team.png);
  background-repeat: no-repeat;
  background-position: center; }
  .section-team__container {
    float: right;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(70, 70, 70, 0.9); }
    @media (max-width: 768px) {
      .section-team__container {
        width: 100%;
        text-align: center; } }
  @media (max-width: 768px) {
    .section-team {
      width: auto; } }
.section-best {
  width: 100%;
  height: 100vh;
  min-height: 320px;
  background-size: cover;
  background-image: url(fons/fon-best.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-best__container {
    flex-direction: column;
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .section-best__title {
    font-size: 71.713px;
    font-family: "Gagalin-Regular";
    color: #2f3234;
    line-height: 0.889;
    text-align: center; }
.section-menu {
  width: 100%;
  height: 100vh;
  min-height: 320px;
  background-size: cover;
  background-image: url(fons/fon-menu.png);
  background-repeat: no-repeat;
  background-position: center; }
  .section-menu__title {
    margin: 0;
    padding-top: 50px;
    font-family: Gagalin-Regular;
    font-size: 72px;
    color: white;
    padding-left: 50px; }
.section-map {
  width: 100%;
  height: 100vh;
  min-height: 320px;
  background-size: cover;
  background-image: url(fons/fon-map.png);
  background-repeat: no-repeat;
  background-position: center; }

.header {
  padding-top: 25px;
  width: 100%;
  margin: 0 auto;
  display: flex; }

.logo {
  padding-right: 50px; }

.menu {
  display: flex; }
  .menu__list {
    display: flex;
    text-decoration: none;
    list-style: none; }
    @media (max-width: 768px) {
      .menu__list {
        display: none; } }
  .menu__item {
    margin-left: 20px; }
  .menu__link {
    text-decoration: none; }
  .menu__text {
    font-size: 12px;
    font-family: "Ubuntu";
    color: white;
    text-transform: uppercase;
    text-align: right; }
  .menu__dot {
    padding-right: 10px; }

.button__item {
  padding: 10px 15px;
  border-radius: 7px;
  background: #e35028;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 42px;
  text-transform: uppercase;
  color: white;
  font-family: "Ubuntu";
  text-decoration: none; }
.button__reviews {
  width: 100%;
  height: 100vh;
  min-height: 650px; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; }
  @media (max-width: 768px) {
    .banner {
      flex-direction: column; } }

.banner-right {
  padding-left: 60px; }
  @media (max-width: 768px) {
    .banner-right {
      text-align: center; } }
  .banner-right__main {
    float: left;
    font-size: 72px;
    font-family: "Gagalin-Regular";
    color: #f9b43b;
    text-align: left; }
  .banner-right__text {
    font-size: 62px;
    text-align: left;
    color: white;
    line-height: 60px;
    font-family: "Lifehack"; }

.arrow__link {
  display: block;
  width: 30px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 40px; }

.best__desc {
  vertical-align: middle;
  text-align: center; }
.best__list {
  padding: 0;
  vertical-align: middle;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
.best__item {
  padding: 0;
  vertical-align: middle;
  width: 33%;
  text-align: center;
  margin: 0 10px; }
  .best__item__list {
    list-style: none; }
.best__main {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: "Lifehack";
  color: #2f3234;
  line-height: 1.167;
  text-align: center; }
.best__text {
  font-family: Ubuntu;
  font-weight: 300;
  color: #2f3234;
  font-size: 14px;
  line-height: 30px;
  opacity: .8; }
.best__picture {
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto; }

@media (max-width: 768px) {
  .team__desc {
    display: flex; } }
.team__post {
  font-size: 14px;
  font-family: "Ubuntu";
  color: white;
  font-weight: bold; }
.team__text {
  width: 600px;
  font-size: 14px;
  font-family: "Ubuntu";
  color: white; }
.team__photo {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
.team__title {
  margin-top: 100px;
  margin-left: 80px;
  font-family: Gagalin-Regular;
  color: #f9b43b;
  font-size: 72px; }
.team__list {
  list-style: none; }
.team__item {
  margin-bottom: 40px; }
.team__mate {
  text-decoration: none;
  display: inline-block;
  font-family: Gagalin-Regular;
  color: white;
  font-size: 16px;
  margin-bottom: 20px; }
  .team__mate-activated {
    text-decoration: none;
    display: inline-block;
    font-family: Gagalin-Regular;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    color: #f9b43b; }
  .team__mate-activated::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    border-top-color: #f9b43b;
    border-width: 10px 6px 0px 6px; }
.team__mate::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  border: 6px solid transparent;
  border-bottom-color: #fff;
  border-width: 0px 6px 10px 6px; }

.reviews__desc {
  transition: 1s;
  position: absolute;
  left: 10px;
  top: -3px;
  padding: 50px 20px 0;
  opacity: 0; }
.reviews__title {
  font-family: Gagalin-Regular;
  color: white;
  margin-bottom: 20px; }
.reviews__text {
  font-size: 14px;
  font-family: "Ubuntu";
  color: white;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 20px; }
.reviews__button {
  border: none;
  margin-top: 26px;
  display: flex;
  text-align: center;
  background-color: #2f3234;
  padding: 10px;
  padding-right: 15px;
  border-radius: 5px;
  font-family: Ubuntu;
  font-weight: normal;
  color: white;
  font-size: 13px; }
.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
.reviews__item {
  float: left;
  position: relative;
  width: 25%;
  height: 50%;
  justify-content: center;
  align-items: center;
  background-color: #000; }
.reviews__pic {
  height: 50vh;
  max-width: auto;
  max-height: auto; }
.reviews .reviews__item:hover .reviews__desc {
  opacity: 1; }

.picture {
  filter: grayscale(100%);
  object-fit: cover;
  width: 100%;
  height: 100%; }

.reviews .reviews__item:hover img {
  filter: grayscale(1) opacity(0.4); }

/*# sourceMappingURL=main.css.map */
