@font-face {
  font-family: 'Gagalin-Regular';
  src: url(Fonts/Gagalin-Regular.ttf); }
@font-face {
  font-family: 'Ubuntu';
  src: url(Fonts/Ubuntu-B.ttf); }
@font-face {
  font-family: 'Lifehack';
  src: url(Fonts/Lifehack.otf); }
.nav {
  position: fixed;
  left: 80%;
  top: 6%; }
  .nav__list {
    text-decoration: none; }
  .nav__item {
    list-style: none;
    color: white; }

.section-top {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-size: cover;
  background-image: url(fon-top.png);
  background-repeat: no-repeat;
  background-position: center; }
  .section-top__container {
    flex-direction: column;
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
.section-best {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-size: cover;
  background-image: url(fon-best.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-best__container {
    flex-direction: column;
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .section-best__title {
    padding-top: 134px;
    padding-bottom: 54px;
    font-size: 71.713px;
    font-family: "Gagalin-Regular";
    color: #2f3234;
    line-height: 0.889;
    text-align: center; }

.header {
  padding-top: 25px;
  width: 100%;
  margin: 0 auto;
  display: flex; }

.logo {
  padding-right: 50px; }

.menu {
  display: flex; }
  .menu__list {
    display: flex;
    text-decoration: none;
    list-style: none; }
  .menu__item {
    margin-left: 20px; }
  .menu__link {
    text-decoration: none; }
  .menu__text {
    font-size: 12px;
    font-family: "Ubuntu";
    color: white;
    text-transform: uppercase;
    text-align: right; }
  .menu__dot {
    padding-right: 10px; }

.button {
  margin-top: 5px;
  margin-left: 15px;
  display: flex;
  border-radius: 5px;
  background-color: #e45028;
  width: 97px;
  height: 35px; }
  .button__item {
    margin: auto;
    color: white;
    font-size: 19px;
    font-family: "Ubuntu";
    text-decoration: none; }
  .button__reviews {
    width: 100%;
    height: 100vh;
    min-height: 650px; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; }

.banner-right {
  padding-left: 60px; }
  .banner-right__main {
    font-size: 35px;
    font-family: "Gagalin-Regular";
    color: #f9b43b;
    text-align: left; }
  .banner-right__text {
    font-size: 32px;
    text-align: left;
    color: white;
    line-height: 60px;
    font-family: "Lifehack"; }

.arrow__item {
  display: block;
  width: 30px;
  height: 15px;
  margin-bottom: 40px; }

.best {
  width: 1000px; }
  .best__desc {
    text-align: center; }
  .best__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .best__item {
    width: 33%;
    text-align: center;
    margin: 0 10px; }
    .best__item__list {
      list-style: none; }
  .best__main {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Lifehack";
    color: #2f3234;
    line-height: 1.167;
    text-align: center; }
  .best__text {
    font-family: Ubuntu;
    font-weight: 300;
    color: #2f3234;
    font-size: 14px;
    line-height: 30px;
    opacity: .8; }
  .best__picture {
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto; }

.reviews__desc {
  width: 240px;
  height: 200px;
  position: absolute;
  left: 10px;
  top: -3px;
  padding: 50px 20px 0;
  display: none; }
.reviews__title {
  font-family: Gagalin-Regular;
  color: white;
  margin-bottom: 20px; }
.reviews__text {
  font-size: 14px;
  font-family: "Ubuntu";
  color: white;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 20px; }
.reviews__button {
  border: none;
  margin-top: 26px;
  display: flex;
  text-align: center;
  background-color: #2f3234;
  width: 115px;
  height: 35px;
  border-radius: 5px;
  font-family: Ubuntu;
  font-weight: normal;
  color: white;
  font-size: 13px; }
.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
.reviews__item {
  float: left;
  position: relative;
  width: 25%;
  height: 50%;
  justify-content: center;
  align-items: center; }
.reviews__pic {
  height: 50vh;
  max-width: auto;
  max-height: auto; }
.reviews .reviews__item:hover .reviews__desc {
  display: block; }

.picture {
  filter: grayscale(100%);
  object-fit: cover;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
