@font-face {
font-family: 'Gagalin-Regular';

 src: url(fonts/Gagalin-Regular.ttf) ;
 }
@font-face {
font-family: 'Ubuntu';
 src: url(fonts/Ubuntu-B.ttf) ;

}
@font-face {
  font-family: 'Lifehack';
 src: url(fonts/Lifehack.otf) ;
}
.nav {
position: fixed;
    left: 80%;
    top: 6%;
  &__list {
  text-decoration: none;
  }
  &__item {
   list-style: none;
  color:white;
  }
}


.section {
&-top {
    width: 100%;
 height: 100vh;
 min-height: 650px;
   background-size: cover;
  background-image: url(fon-top.png);
    background-repeat: no-repeat;
    background-position: center;
    &__container {
      flex-direction: column;
      width: 1100px;
    margin: 0 auto;
  height: 100%;
   display: flex; 
    justify-content: flex-start;
    align-items: center;
    }
}
&-team {
   width: 100%;
 height: 100vh;
 min-height: 650px;
  background-size: cover;
  background-image: url(fon-team.png);
  background-repeat: no-repeat;
  background-position: center;
  &__container {
   float: right;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(70, 70, 70, 0.9);
  }
}
&-best {
   width: 100%;
 height: 100vh;
 min-height: 650px;
  background-size: cover;
  background-image: url(fon-best.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
      align-items: center;
      &__container {
      flex-direction: column;
      width: 1100px;
    margin: 0 auto;
  height: 100%;
   display: flex; 
    justify-content: flex-start;
    align-items: center;
      }
      &__title {
       padding-top: 134px;
  
  font-size: 71.713px;
  font-family: "Gagalin-Regular";
  color: rgb(47, 50, 52);
  line-height: 0.889;
  text-align: center;
      }
}
&-menu {
 width: 100%;
 height: 100vh;
 min-height: 650px;
  background-size: cover;
  background-image: url(fon-menu.png);
  background-repeat: no-repeat;
  background-position: center;
  &__title { 
       margin: 0;
    padding-top: 50px;
    
    font-family: Gagalin-Regular;
    font-size: 72px;
    color: white;
    padding-left: 50px;
  }
}
}

.header {
padding-top: 25px;
width: 100%;
margin: 0 auto;
  display: flex;

}
.logo {
 padding-right: 50px;
  }
.menu {
  display: flex;
  

&__list {
  display: flex;
  text-decoration: none;
  list-style: none;
}
&__item {
  margin-left: 20px;
}
&__link {
  text-decoration: none;
 
}
&__text {
    font-size: 12px;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: right;

}
&__dot {
  padding-right: 10px;
}
}
.button {
    margin-top: 5px;
margin-left:15px;
  display: flex;
  border-radius: 5px;
  background-color: rgb(228, 80, 40);
  
  width: 97px;
  height: 35px;
 
 &__item {
   
    margin: auto;
    color: white;
    font-size: 19px;
    font-family: "Ubuntu";
    text-decoration: none;
 }
&__reviews {
   width: 100%;
 height: 100vh;
 min-height: 650px;
}
}
.banner {
    
    display: flex;    
    justify-content: center;   
    align-items: center;   
    flex-grow: 1;
}
.banner-left {

    &__pic {
  
    } 
}
.banner-right {
     padding-left: 60px;
&__main  {
float: left;
  font-size: 72px;
  font-family: "Gagalin-Regular";
  color: rgb(249, 180, 59);
 
  text-align: left;
 

}
&__text {
font-size: 68px;
  text-align: left;
color: white;
    line-height: 60px;
   font-family: "Lifehack";
}
}

.arrow {
  &__link{
             display: block;
    width: 30px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
         
    margin-bottom: 40px; 

  }
}






.best {     
    width: 1000px;
     &__desc {
         vertical-align: middle;
 text-align: center;
    }
  &__list { 
       vertical-align: middle;
  list-style: none;
        display: flex;
    justify-content: center;
    align-items: flex-start;
  }
   &__item {     vertical-align: middle;
   width: 33%;
     text-align: center;
    margin: 0 10px;
    &__list {
    list-style: none;
    }
   
    
  }
  &__main { 
   margin-bottom: 10px;
  font-size: 24px;
  font-family: "Lifehack";
  color: rgb(47, 50, 52);
  line-height: 1.167;
  text-align: center;
  }
  &__text { 
    font-family: Ubuntu;
    font-weight: 300;
    color: #2f3234;
    font-size: 14px;
    line-height: 30px;
    opacity: .8;
 
  }
 &__picture {
         height: 100px;
    background-repeat: no-repeat;
    background-position: center;
   
    margin: 0 auto;
    }

}

.team {
&__post { 
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  font-weight: bold;
}
&__text { 
    width: 600px;
    font-size: 14px;
    font-family: "Ubuntu";
    color: white;
     

}
&__photo {
         margin-right: 20px;
    width: 100px;
    height: 100px;  
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-left: 20px; 
    display: flex;   
    justify-content: center;   
    align-items: center; }
  &__title {
          margin-top: 100px;
    margin-left: 80px;

      font-family: Gagalin-Regular;
    color: #f9b43b;
    font-size: 72px;
  }
  &__list {
  list-style: none;
  }
  &__item {
      margin-bottom: 40px;
  }
  &__mate {
        text-decoration: none;
    display: inline-block;
    font-family: Gagalin-Regular;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    &-activated {
      text-decoration: none;
    display: inline-block;
    font-family: Gagalin-Regular;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    color: #f9b43b;    
    }
    &-activated::before {
    content: "";
    display: inline-block;
   
    margin-right: 10px;
    border: 6px solid transparent;
    border-bottom-color: #fff;
   
    border-top-color: #f9b43b;
    border-width: 10px 6px 0px 6px;
    }
}
&__mate::before {
    content: "";
    display: inline-block;
   
    margin-right: 10px;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    border-width: 0px 6px 10px 6px;
}

}



.reviews {

 &__desc {
 transition: 1s;

  position: absolute;
  left: 10px;
  top: -3px;
  padding: 50px 20px 0;
  opacity: 0;
 }
 &__title {
     font-family: Gagalin-Regular;
    color: white;
    margin-bottom: 20px;
 }
 &__text {
     font-size: 14px;
font-family: "Ubuntu";
color: rgb(255, 255, 255);
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 20px;
 }
 &__button {
 border:none;
     margin-top: 26px;
 display: flex;
    text-align: center;
   background-color: rgb(47, 50, 52);
        padding: 10px;
    padding-right: 15px;
    border-radius: 5px;
    font-family: Ubuntu;
    font-weight: normal;
    color: white;
    font-size: 13px;
    
 }
  &__list {
  list-style: none;
  padding: 0;
  margin: 0;
      height: 100%;  
    display: flex; 
    justify-content: center;   
    align-items: center;   
    flex-wrap: wrap;
   
  }
  &__item {
    float: left;
  position: relative;
  width: 25%;
  height: 50%;
  justify-content: center;
  align-items: center;
   background-color: #000;
  }
&__pic {
    height: 50vh;
    max-width: auto;
    max-height: auto;
    
}
.reviews__item:hover .reviews__desc{
   opacity: 1;
}

}
.picture {
  filter: grayscale(100%);
 object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews .reviews__item:hover img{
  filter: grayscale(1) opacity(0.4) ;

 }